main {
  height: 200vh;
}

/* твой код */
.navbar{
  padding: 10px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(102,102,102);
  width: 1000px;
  height: 50px;
  }
  .text{
    display: flex;
    direction: flex;
    justify-content: space-evenly;
    font-family: "NarrowNews"; 
    font-size: 20px; 
    color: white;
  }
  


 








@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 