body {
  margin:0;
}
main {
  height: 200vh;
}

.banner {
  height: 15vh;
  

}
.navbar {
  padding: 5px;
  box-sizing: border-box;
  background-color:rgb(102,102,102);
  color: #f6f2f2;
  text-decoration: underline;
  
}

.navbar>a:hover {
  color: #c9afaf;
}

@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 







